/*--- Mary Ditchen's Custom Styles --- */

h1 {font-size: 3em;}
h2 {font-size: 2.5em;}
h3 {font-size: 2em;}
h4 {font-size: 1.5em;}
h5 {font-size: 1.25em; font-weight: bold;}
h6 {font-size: 1em; font-weight: bold;}

.u-text--intro {
  font-family: Helvetica Neue, Helvetica, sans-serif;
  font-size: 1.25em;
  line-height: 1.5;
}

@media only screen and (min-width: 360px) {

}

@media only screen and (min-width: 600px) {

}

@media only screen and (min-width: 768px) {

}

@media only screen and (min-width: 960px) {

}

@media only screen and (min-width: 1200px) {

}