/*--- Mary Ditchen's Custom Styles --- */

html {
  background: #CE538F url(https://mkmacin.github.io/maryditchen/images/heart-lights.jpg) center center no-repeat;
  background-size: cover;
}

h1 {font-size: 3em;}
h2 {font-size: 2.5em;}
h3 {font-size: 2em;}
h4 {font-size: 1.5em;}
h5 {font-size: 1.25em; font-weight: bold;}
h6 {font-size: 1em; font-weight: bold;}

.c-nav {
  background-color: #CE538F;
  color: white;
}

  .c-nav__list {
    list-style: none;
    margin: 1rem 0;
    padding-left: 0;
  }

  .c-nav__link {
    color: white;
    display: block;
    text-decoration: none;
  }

    .c-nav__link:hover,
    .c-nav__link:focus {
      background-color: rgba(0, 0, 0, 0.25);
      color: white;
      text-decoration: none;
    }

    .c-nav__link:active {
      background-color: rgba(0, 0, 0, 0.5);
      color: white;
      text-decoration: none;
    }

.u-text--intro {
  font-family: Helvetica Neue, Helvetica, sans-serif;
  font-size: 1.25em;
  line-height: 1.5;
}

@media only screen and (min-width: 360px) {

}

@media only screen and (min-width: 600px) {

}

@media only screen and (min-width: 768px) {

}

@media only screen and (min-width: 960px) {

}

@media only screen and (min-width: 1200px) {
  body {
    max-width: 1600px;
  }

  .container {
    margin: 0 auto;
    max-width: 960px;
  }
}